#cheat-sheet {
  background: #000;
  @include border-radius(2px);
  color: #fff;
  padding: 10px;

  dt {
    border-bottom: 1px solid #666;
    font-size: larger;
    font-weight: 700;
    padding: 0 0 5px;
  }

  dd {
    color: #7f7f7f;
    font-size: 110%;
    margin: 5px 0 20px;
    min-height: 50px;
    padding: 0 0 0 60px;
    position: relative;
  }

  .icon {
    position: absolute;
    top: -20px; left: -15px;
    height: 80px;
    width: 80px;
    @include transform(scale(0.5));

    &.playing { @include icons-sprite(play-dark) }
    &.paused { @include icons-sprite(pause-dark) }
    &.save { @include icons-sprite(camera) }
    &.kaleidoscope { @include icons-sprite(mirrors-dark) }
    &.pixelate { @include icons-sprite(pixelate-dark) }
    &.bleed { @include icons-sprite(bleed-dark) }
    &.color-themes { @include icons-sprite(themes-dark) }
    &.edit { @include icons-sprite(edit-dark) }
    &.hide-menu { @include icons-sprite(hide-dark) }
    &.back-to-intro { @include icons-sprite(intro-dark) }
  }
}

#footer {
  clear: both;

  p {
    color: #7f7f7f;
    font-size: small;
    margin: 0 }
}

#header {
  border-bottom: 1px solid #666;
  margin-bottom: 20px;
  overflow: hidden;

  h1 {
    font-size: xx-large;
    line-height: 0.95em;
    margin: 0;

    a { font-size: x-large }
  }

  img {
    display: block;
    margin: 20px auto 0 }
}

#home {
  background: #555 image-url('background.jpg') repeat top left;

  &.about   #main .content.about,
  &.help    #main .content.help,
  &.credits #main .content.credits { display: block }

  .wrapper {
    margin: 0 auto;
    padding: 15px;
    width: 100%;

    @media screen and (min-width: $break-big) {
      width: 100% }
  }
}

#main {
  margin-bottom: 40px;

  @media screen and (min-width: $break-big) {
    overflow: hidden }

  .content {
    display: none;
    line-height: 1.5em;
    min-height: 350px;

    p { font-size: 110% }

    p a { color: #7f7f7f }

    @media screen and (min-width: $break-big) {
      display: inline-block;
      float: left;
      padding: 0 25px 0 0;
      width: 1/3 * 100% }

    &.credits span {
      display: inline-block;
      color: #fff;
      width: 5em;
    }

    &.credits ul { font-size: 110% }

    ul {
      @include no-bullets();
      margin: 1em 0;
      padding: 0 }
  }
}

#nav {
  font-size: x-large;
  font-weight: 700;
  @include horizontal-list(0);
  @include user-select(none);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;

  li {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
    text-align: center;
    width: 33%;

    &.active { color: #000 }

    &:focus, &:active, &:hover { outline: none }

    @media screen and (min-width: $break-big) {
      float: left;
      padding: 0 20px 0 0;
      width: 1/3 * 100%;
      color: #000 }
  }
}

#start {
  color: #fff;
  display: inline-block;
  float: right;
  font-size: x-large;
  font-weight: 700;
  margin: 0 0 20px;
  text-align: right }